.emailButtonContainer {
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 10px;
    white-space: nowrap;

}

.emailContainer {
    background-color: #758ca3;
    height: 40px;
    width: 40px;
    border-radius: 3px;
    padding: 2px 1px 1px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon {
    width: auto;
    height: auto;
}

.emailSelect {
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .emailButtonContainer {
        flex-direction: column;
        gap: 5px;
    }

    .emailContainer {
        height: 30px;
        width: 30px;
    }

    .emailSelect {
        padding: 4px;
        font-size: 14px;
    }
}