.emailButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    white-space: nowrap;
}

.emailContainer {
    background-color: #758ca3;
    height: 35px;
    width: 35px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon {
    width: auto;
    height: auto;
}

.emailOptions {
    position: absolute;
    left: 50%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    min-width: 120px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.emailOptions.visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-60%);
    pointer-events: auto;
}

.emailOption {
    display: block;
    width: 100%;
    padding: 8px 10px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    transition: color 0.5s ease;
    font-weight: bold;
}

.emailOption:hover {
    color: #758ca3;
}

.emailSelect {
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.emailLink {
    color: #0000EE;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 600px) {
    .emailContainer {
        height: 30px;
        width: 30px;
    }
    
    .emailOptions {
        top: -10px;
    }
}