.instagramButtonContainer {
  display: flex;
}

.instagramButton {
  padding:0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.icon {
  width: auto;
  height: auto;
}

.qrCodeImage {
  width: 200px;
  height: 200px;
}

.qrLink {
  display: flex;
  margin-top: 10px;
  color: var(--hover-color);
  text-decoration: none;
  font-weight: bold;
}

.qrLink:hover {
  text-decoration: underline;
}