.instagramButtonContainer {
  display: flex;
}

.instagramButton {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.instagramButton:hover {
  transform: scale(1.1);
  color: var(--hover-color);
}

.icon {
  width: auto;
  height: auto;
}

.qrCodeImage {
  width: 200px;
  height: 200px;
}

.qrLink {
  display: flex;
  margin-top: 10px;
  color: var(--hover-color);
  text-decoration: none;
  font-weight: bold;
}

.qrLink:hover {
  text-decoration: underline;
}