/* Diamond.module.css */

.diamondContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 7px;
}

.diamondContainer .row {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.diamondContainer .icon {
    position: relative;
    margin: 0 3.5px;
}