.figure {
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
}

.recordPlayerContainer,
.figure:focus-within .recordPlayerContainer {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .9;
    transition: opacity 0.9s ease;
    /* margin-left: 15px;
    margin-top: 5px; */
    /* padding: 3px 6px 4px 6px; */
    background-image: var(--accent-background-image-gradient);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
}

.recordPlayer,
.figure:focus-within .recordPlayer {
    position: absolute;
        top: 0;
        left: 0;
    height: 2.5em;
    width: 2.5em;
    margin: 2px;
    pointer-events: none;
    /* Make sure the SVG doesn't interfere with focus */
    opacity: .9;
}

.sound,
.figure:focus-within .sound {
    position: absolute;
        top: 0;
        left: 0;
    /* margin: 10px 15px; */
    color: rgba(60, 59, 59, 0.568);
    font-weight: 600;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.9s ease;
}

.audioCaption {
    margin-left: 15px;
}

.figure:hover .recordPlayerContainer,
.figure:focus-within .recordPlayerContainer {
    opacity: 0;
}

.figure:hover .sound,
.figure:focus-within .sound {
    opacity: 1;
}