.figure {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

.recordPlayer {
    display: flex;
    height: 40px;
    width: 40px;
    opacity: 1;
}

.sound {
    margin: 10px 15px;
    color: rgba(60, 59, 59, 0.568);
    font-weight: 600;
    font-size: 12px;
    opacity: 0;
        /* Initially hide the caption */
        transition: opacity 0.3s ease;
        /* Add a smooth transition effect */
}

.sound:hover {
    opacity: 1;
    /* Show the caption on hover */
}

.recordPlayer:hover {
    opacity: 0;
}