.socialLinks {
    position: absolute;
    top:70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.socialLink {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    transition: transform 0.5s ease, color 0.5s ease;
}

.socialLink:hover {
    transform: scale(0.9);
}

.icon {
    width: auto;
    height: auto;
}

/* @media (min-width: 320px) {
    .socialLinks {
        left: 48%;
    }
}

@media (min-width: 350px) {
    .socialLinks {
        left: 50%;
    }
}

@media (min-width: 600px) {
    .socialLinks {
        left: 52%;
    }
} */