.socialLinks {
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    /* Prevent links from wrapping to a new line */
}

.socialLinks a {
    display: inline-block;
    margin: 15px;
}

.icon {
    width: auto;
    height: auto;
}

.emailContainer {
    background-color: #758ca3;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    padding: 2px 1px 1px 5px;
}

@media (min-width: 320px) {
    .socialLinks {
        top: 70%;
        left: 48%;
    }
}

@media (min-width: 350px) {
    .socialLinks {
        top: 70%;
        left: 50%;
    }
}

@media (min-width: 600px) {
    .socialLinks {
        top: 40%;
        left: 52%;
    }
}