/* Grass.module.css */

.grassContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    overflow-x: clip;
    /* Change overflow-x to clip */
}

.row {
    display: flex;
    margin-bottom: -200px;
    /* Adjust this value as needed */
}

.blade {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 55px solid #1E4018;
    margin-right: calc(0.5px / var(--blades-per-row));
    /* Adjust margin calculation */
    animation: bladeMove 7s infinite;
}

.backBlade {
    border-bottom-color: #156A32;
}

@keyframes bladeMove {

    0%,
    100% {
        border-left: 10px solid transparent;
        border-right: 25px solid transparent;
    }

    25%,
    75% {
        border-left: 25px solid transparent;
        border-right: 10px solid transparent;
    }

    50% {
        border-left: 10px solid transparent;
        border-right: 25px solid transparent;
    }
}