.grassContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    overflow-x: clip;
    margin-top: 100px;
}

.row {
    display: flex;
    margin-bottom: -100px;
}

@keyframes waveAnimationFront {
    0% {
        transform: rotateZ(-2deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(-2deg);
    }
}

@keyframes waveAnimationBack {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(2deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

/* @keyframes waveAnimation {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(-5deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
} */

.blade {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 55px solid #1E4018;
    /* border-bottom: 55px solid #0944abd1; */
    animation: waveAnimationFront 5s infinite alternate;
}

.backBlade {
    border-bottom-color: #156A32;
    /* border-bottom-color: #15ad93c7; */
    animation: waveAnimationBack 4s infinite alternate;
}