.navWrapper{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    background: linear-gradient(#17171f, #335e9ebf, #85b8dddf);
}

@media screen and (max-width: 470px) {
    .navWrapper {
        flex-direction: unset;
        /* Align the diamond to the left when screen width is 550px or smaller */
    }
}